<div class="col-sm-8 col-sm-offset-2">
	<h2 class="page-header">Limite de Máquina</h2>
	<div class="tab-content">
		<div class="row">
			<div class="col-md-12">
				<p><strong>Limite de Máquina: </strong></p>
				<p>{{controller.limiteMaquina.nome}}</p>
			</div>
			</div>
		<div class="row">
			<div class="col-md-12">
				<p><strong>Descrição</strong></p>
				<textarea class="form-control" rows="10" name="descricao"
				ng-model="controller.limiteMaquina.descricao" disabled="true"/>
			</div>
		</div>
		<hr />
			<div id="actions" class="row">
			<div class="col-md-12">
				<a ng-href="#/limiteMaquina/{{controller.limiteMaquina.id}}" class="btn btn-warning">Editar</a>
				<button ng-click="controller.remove(limiteMaquina)" class="btn btn-danger">Excluir</button>
				<a back class="btn btn-default">Voltar</a>
			</div>
		</div>
	</div>
</div>
