<div class="col-sm-8 col-sm-offset-2">
	<h2 class="page-header">Item da norma</h2>
	<div class="tab-content">
		<div class="row">
			<div class="col-md-12">
				<p ><strong>Item</strong></p>
				<p>{{controller.item.item}}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p><strong>Descricao</strong></p>
				<textarea class="form-control" rows="12" name="descricao"
				ng-model="controller.item.norma" disabled="true"/>
			</div>
		</div>
		<hr />
		<div id="actions" class="row">
			<div class="col-md-12">
				<a ng-href="#/item/{{controller.item.id}}" class="btn btn-warning">Editar</a>
				<button ng-click="controller.remove(item)" class="btn btn-danger">Excluir</button>
				<a back class="btn btn-default">Voltar</a>
			</div>
		</div>
	</div>
</div>
