<div class="col-sm-8 col-sm-offset-2">
	<h2 class="page-header">Visualizar Risco</h2>
	<div class="tab-content">
		<div class="row">
			<div class="col-md-9">
				<p><strong>Risco</strong></p>
				<p>{{controller.risco.nome}}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-9">
				<p><strong>Descrição</strong></p>
			<!--<p>{{controller.risco.descricao}}</p>-->
				<textarea class="form-control" rows="12" name="descricao"
				ng-model="controller.risco.descricao" disabled="true"/>
			</div>
		</div>
		<hr />
		<div id="actions" class="row">
			<div class="col-md-12">
				<a ng-href="#/risco/{{controller.risco.id}}" class="btn btn-warning">Editar</a>
				<button ng-click="controller.remove(controller.risco)" class="btn btn-danger">Excluir</button>
				<a back class="btn btn-default">Voltar</a>
			</div>
		</div>
	</div>
</div>
