<div class="col-sm-8 col-sm-offset-2">
	<h2 class="page-header">Responsabilidade Técnica</h2>
	<div class="tab-content">
		<div class="row">
			<div class="col-md-12">
				<p><strong>Responsabilidade Técnica</strong></p>
				<p>{{controller.respTecnica.resptecnica}}</p>
			</div>
		</div>
		<hr />
		<div id="actions" class="row">
			<div class="col-md-12">
				<a ng-href="#/respTecnica" class="btn btn-warning">Editar</a>
				<a back class="btn btn-default">Voltar</a>
			</div>
		</div>
	</div>
</div>
