<div class="col-sm-8 col-sm-offset-2">
	<h1 class="page-header">Portaria</h1>
	<form ng-submit="controller.altera()" name="form" novalidate>
		<div class="row">
			<!-- Descrição -->
			<div class="form-group col-md-12" ng-class="{'has-error': form.descricao.$invalid && !form.descricao.$pristine}">
				<label class="control-label" for="descricao">Descrição *</label>
				<textarea class="form-control" rows="8" cols="5" name="descricao"
				ng-model="controller.portaria.portaria" ng-minlength="3" required></textarea>
				<div ng-messages="form.descricao.$error" ng-if="!form.descricao.$pristine">
					<div ng-messages-include="partials/validate/messages.html"></div>
				</div>
			</div>
		</div>
		<hr />
		<div id="actions" class="row">
			<div class="col-md-12">
				<!-- Botao Submit -->
				<button type="submit" class="btn btn-primary" ng-disabled="!form.$valid">Salvar</button>
				<!-- Botao Voltar -->
				<a back class="btn btn-default">Voltar</a>
			</div>
		</div>
	</form>
</div>
