<p class="help-block" ng-message="minlength">O campo está curto.</p>
<p class="help-block" ng-message="maxlength">O campo está longo.</p>
<p class="help-block" ng-message="required">O campo deve ser preenchido.</p>
<p class="help-block" ng-message="special">Caracteres especiais não são permitidos.</p>
<p class="help-block" ng-message="email">Digite um e-mail válido.</p>
<p class="help-block" ng-message="qtde_caract">quantidade caractere.</p>
<p class="help-block" ng-message="SizeInput">Quantidade de caracteres esta incorreta.</p>
<p class="help-block" ng-message="max">O valor do campo está muito alto.</p>
<p class="help-block" ng-message="min">O valor do campo está muito baixo.</p>
