<div class="col-sm-8 col-sm-offset-2">
	<h2 class="page-header">Norma Tecnica</h2>
	<div class="tab-content">
		<div class="row">
			<div class="col-md-9">
				<p><strong>Norma Tecnica</strong></p>
				<p>{{controller.normaTecnica.nome}}</p>
			</div>
			<div class="col-md-3">
				<p><strong>Tipo</strong></p>
				<p>{{controller.normaTecnica.tipo}}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p><strong>Descrição</strong></p>
				<textarea class="form-control" rows="12" name="descricao"
				ng-model="controller.normaTecnica.descricao" disabled="true"/>
			</div>
		</div>
		<hr />
		<div id="actions" class="row">
			<div class="col-md-12">
				<a ng-href="#normaTecnica/{{controller.normaTecnica.id}}" class="btn btn-warning">Editar</a>
				<button ng-click="controller.remove(normaTecnica)" class="btn btn-danger">Excluir</button>
				<a back class="btn btn-default">Voltar</a>
			</div>
		</div>
	</div>
</div>
