<div class="col-sm-8 col-sm-offset-2">
	<h1 class="page-header">Alteração de Senha</h1>
	<form ng-submit="controller.salva()" name="form" novalidate>

		<div class="row">
			<!-- senhaAtual -->
			<div class="form-group col-md-12" ng-class="{'has-error': form.senhaAtual.$invalid && !form.senhaAtual.$pristine}">
				<label class="control-label" for="senhaAtual">Senha Atual *</label>
				<input type="password" class="form-control" name="senhaAtual" id="senhaAtual"
					   ng-model="controller.senhaAtual" ng-minlength="6" ng-maxlength="15" required validate />
			</div>
		</div>
		<div class="row">
			<!-- novaSenha -->
			<div class="form-group col-md-12" ng-class="{'has-error': form.novaSenha.$invalid && !form.novaSenha.$pristine}">
				<label class="control-label" for="novaSenha">Nova Senha *</label>
				<input type="password" class="form-control" name="novaSenha" id="novaSenha"
					   ng-model="controller.novaSenha" ng-minlength="6" ng-maxlength="15" required validate />
			</div>
		</div>
		<div class="row">
			<!-- confSenha -->
			<div class="form-group col-md-12" ng-class="{'has-error': form.confSenha.$invalid && !form.confSenha.$pristine}">
				<label class="control-label" for="confSenha">Confirma Senha *</label>
				<input type="password" class="form-control" name="confSenha" id="confSenha"
					   ng-model="controller.confSenha" ng-minlength="6" ng-maxlength="15" required validate />
			</div>
		</div>

		<hr />
		<div id="actions" class="row">
			<div class="col-md-12">
				<!-- Botao Submit -->
				<button type="submit" class="btn btn-primary" ng-disabled="!form.$valid">Salvar</button>
				<!-- Botao Voltar -->
				<a back class="btn btn-default">Voltar</a>
			</div>
		</div>
	</form>
</div>
