<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width">
		<meta name="description" content="Projeto NR12" />
		<meta charset="UTF-8">
		<title>Projeto NR12</title>
		<link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap-theme.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<div id="header">
			
			<!-- <nav class="navbar navbar-inverse navbar-fixed-top"> -->
<!--
			<nav class="navbar navbar-fixed-top hide">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#"><img src="imagens/60px_senai_fiesc.png" height="25"></i></a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-left">
							<li><a ng-href="#/"><%=home %></a></li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown">Cadastro<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a title="Cliente" ng-href="#/capacitacoes">Capacitação</a></li>
									<li><a title="Cliente" ng-href="#/clientes">Cliente</a></li>
									<li><a title="Risco" ng-href="#/riscos">Risco</a></li>
									<li><a title="Perigo" ng-href="#/perigos">Perigo</a></li>
									<li><a title="TipoMaquinas" ng-href="#/tiposMaquinas">Tipo de Máquina</a></li>
									<li><a title="Normas" ng-href="#/normas">Itens da Norma</a></li>
									<li><a title="NormasTecnicas" ng-href="#/listasNorma">Normas Tecnicas</a></li>
								</ul>
							</li>
							<li><a ng-href="#/laudos">Laudos</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><a ng-href="#/config"><span class="glyphicon glyphicon-cog"></span></a></li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
								<ul class="dropdown-menu">
									
									<li><a title="Contas" ng-href="#/Contas">Contas</a></li>
									<li><a title="Sair" ng-href="#/sair">Sair</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		-->
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-6 col-xs-offset-3">
					<div class="panel panel-default">
						<div class="panel-body" style="padding:15px 50px;">
							<h3 style="text-align: center; margin-bottom: 30px;">Acesse sua conta</h3>
							<form action="/login" method="post">
								<div class="alert alert-warning hide" id="alerta">Email ou senha inválidos.</div>
								<div class="form-group account login">
									<div class="input-group">
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-user"></i>
										</span>
										<input type="text" class="form-control" id="login" name="login" placeholder="Email">
									</div>
								</div>
								<div class="form-group account password">
									<div class="input-group">
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-lock"></i>
										</span>
										<input type="password" class="form-control" id="password" name="password" placeholder="Senha">
									</div>
								</div>
								<div class="form-group">
									<input type="submit" class="btn btn-success btn-block" value="Entrar">
								</div>
							</form>
						</div>
						<div class="panel-footer clearfix" style="font-size:13px; padding:20px 50px;">
							Esqueceu sua senha?
							<a href="/usuarios/password/new">Clique aqui</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" src="vendor/jquery/dist/jquery.js"></script>
		<script type="text/javascript" src="vendor/bootstrap/dist/js/bootstrap.js"></script>
		<script type="text/javascript" src="vendor/bootbox.js/bootbox.js"></script>
		<!---->



	</body>
</html>